<div class="container col-lg-6">
  <h3 class="text-primary">Your Orders</h3>

  <ul class="list-group">
  <%  @orders.each do |order| %>
  <li class="list-group-item card">
    <div class="d-flex flex-row text-truncate justify-content-start">
        <div class="p-1">For: <%= order.customer.name %> -</div>
        <div class="p-1"> Delivery Date: <%= order.delivery_date %> -</div>
        <div class="p-1"><%= link_to "View Order", order_path(order), :class=> "card-link" %> </div>
    </div>
    
        
   
  </li>
  <% end %>
</ul>
<%= link_to "Create an order",new_order_path %>
</div>