<div class="d-flex container justify-content-center">
    <div class="card" style="width: 24rem;">
  <div class="card-body">
    <h5 class="card-title"><%= @order.customer.name %></h5>
    <p class="card-text"><%= @order.customer.address %><br> Delivery: <%= @order.delivery_date %></p>
  </div>
  <ul class="list-group list-group-flush">
    <% @order_products.each do |order_product| %>
    <li class="list-group-item"><% order_product.product.name %></li>
    <% end %>
    <li class="list-group-item"><%= render 'order_products/form' %></li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
    </div>
</div>