<div class="d-flex container justify-content-center">
    <div class="card" style="width: 24rem;">
  <div class="card-body">
    <h5 class="card-title"><%= @order.customer.name %></h5>
    <p class="card-text"><%= @order.customer.address %> Delivery: <%= @order.delivery_date %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
    </div>
</div>